# Ambiente e Python
/.env
/.venv
/venv
.venv
__pycache__/
*.py[cod]

# Django
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Ignora arquivos de migração
**/migrations/*
!**/migrations/__init__.py
/migrations/
__init__.py