{% extends 'base_auth.html' %}
{% block content %}
    <div class="container">
        <h1>Login</h1>
        <form class="form-auth" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input class="form-input" type="text" name="username" placeholder="Usuário" required>
            <input class="form-input" type="password" name="senha" placeholder="Senha" required>
            <button class="button" type="submit">Entrar</button>
            {% if error %}
                <div class="error-message">
                    {{ error }}
                </div>
            {% endif %}
        </form>

        <div class="register-section">
            <p>Não tem uma conta?</p>
            <a href="{% url 'escolha_cadastro' %}" class="button register-button">
                Registrar-se
            </a>
        </div>
    </div>
{% endblock %}