*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

.main-content{
    max-width: 1200px;
    margin: 0 auto
}

// Importação da fonte Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import 'vars';
@import 'components/navbar';
@import 'components/mapa';
@import 'components/home';
@import 'components/animations';
@import 'components/utilities';
@import 'components/forms';
@import 'components/cards';
@import 'components/buttons';
@import 'components/alerts';
@import 'components/pages';
@import 'components/login';
@import 'components/servicos';
@import 'components/visualizar_servico';
@import 'components/chat';